@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#root {
	font-family: 'Poppins', sans-serif;
}

.header {
	background-color: #000000 !important;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%) !important;
	margin-bottom: 40px;
}

.card {
	margin: 30px;
	padding: 2em;
}

.avatar {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.avatar img {
	border-radius: 50% !important;
	height: 20%;
	width: 20%;
}
